<?xml version="1.0"?>
<config>
    <modules>
        <CosmicCart_Cosmicapi>
            <version>2.0.7</version>
        </CosmicCart_Cosmicapi>
    </modules>
    <frontend>
        <routers>
            <cosmicapi>
                <use>standard</use>
                <args>
                    <module>CosmicCart_Cosmicapi</module>
                    <frontName>cosmicapi</frontName>
                </args>
            </cosmicapi>
        </routers>
    </frontend>
    <global>
        <helpers>
            <cosmicapi>
                <class>CosmicCart_Cosmicapi_Helper</class>
            </cosmicapi>
        </helpers>
        <models>
            <cosmicapi>
                <class>CosmicCart_Cosmicapi_Model</class>
                <resourceModel>cosmicapi_resource</resourceModel>
            </cosmicapi>
            <cosmicapi_resource>
                <class>CosmicCart_Cosmicapi_Model_Resource</class>
                <entities>
                    <cosmicapi>
                        <table>cosmicapi_token</table>
                    </cosmicapi>
                </entities>
            </cosmicapi_resource>
        </models>
        <resources>
            <cosmicapi_setup>
                <setup>
                    <module>CosmicCart_Cosmicapi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cosmicapi_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <my_cron>
                <schedule>
                    <cron_expr>0 0 */5 * *</cron_expr>
                </schedule>
                <run>
                    <model>cosmicapi/cosmicapi::invalidateTokens</model>
                </run>
            </my_cron>
        </jobs>
    </crontab>
</config>
